<div class="container">
    <div *ngIf="searchResults && searchString !== ''">
        <h1 class="mt-3">Films recherchés</h1>
        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center mb-4">
                <input class="form-control col-6" placeholder="Rechercher..." [(ngModel)]="searchString"
                       name="searchString" (keyup.enter)="searchMovies(1)"/>
                <button class="btn btn-primary ml-2" (click)="searchMovies(1)">Rechercher</button>
            </div>
        </div>
        <div class="d-flex">
            <div class="container-fluid justify-content-center movies-list mb-3">
                <web-mobile-tp-movies-movie-list-item
                        *ngFor="let movie of searchResults"
                        [movie]="movie" (addedToWatchlist)="addToWatchlist($event)"
                        (addedToFavorite)="addToFavorites($event)"
                >
                </web-mobile-tp-movies-movie-list-item>
                <mat-paginator [length]="length" [pageSize]="20" (page)="changePageSearch($event)"></mat-paginator>
            </div>
        </div>
    </div>
    <div *ngIf="!searchResults || searchString === ''">
        <h1 class="mt-3">Films populaires</h1>
        <div class="d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center mb-4">
                <input class="form-control col-6" placeholder="Rechercher..." [(ngModel)]="searchString"
                       name="searchString" (keyup.enter)="searchMovies(1)"/>
                <button class="btn btn-primary ml-2" (click)="searchMovies(1)">Rechercher</button>
            </div>
            <div>
                <web-mobile-tp-movies-app-filters (genreChanged)="onGenreChanged($event)"
                                                  (yearsChanged)="onYearChanged($event)"
                                                  (sortByChanged)="onSortByChanged($event)">
                </web-mobile-tp-movies-app-filters>
            </div>
        </div>
        <div class="d-flex">
            <div class="container-fluid justify-content-center movies-list mb-3">
                <web-mobile-tp-movies-movie-list-item
                        *ngFor="let movie of movies$ | async "
                        [movie]="movie" (addedToWatchlist)="addToWatchlist($event)"
                        (addedToFavorite)="addToFavorites($event)"
                >
                </web-mobile-tp-movies-movie-list-item>
            </div>
        </div>
    </div>
</div>