<!--<div class="p-4">-->
<!--    <h1>Welcome! Hope you find the best movie for tonight.</h1>-->
<!--    <ul>-->
<!--        <li *ngFor="let favori of listFavoris">-->
<!--            {{ favori.title }}-->
<!--        </li>-->
<!--    </ul>-->
<!--    <button (click)="getFavorites()">Favoris</button>-->
<!--</div>-->

<div class="card" style="width: 18rem;" *ngFor="let favori of listFavoris">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ favori.posterPath }}"
         alt="{{ favori.title }}" appImgFallback />
    <div class="card-body d-flex">
        <h5 class="card-title">{{ favori.title }}</h5>
        <p class="card-text">{{ favori.release_date }}</p>
    </div>
</div>
