<div style="width: 220px; height: 440px;" *ngIf="movie" class="card" (click)="redirect()">
    <img class="card-img-top" src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ movie.poster_path }}"

         alt="{{ movie.title }}" appImgFallback/>
    <div class="d-flex options">
        <i>
            <fa-icon [icon]="faList" (click)="addToWatchlist(); $event.stopPropagation()"></fa-icon>
        </i>
        <i>
            <fa-icon [icon]="faHeart" (click)="addToFavorite(); $event.stopPropagation()"></fa-icon>
        </i>
    </div>
    <div class="card-body d-flex">
        <h5 class="card-title">{{ movie.title }}</h5>
        <div class="d-flex justify-content-between">
            <p class="card-text">{{ movie.release_date }}</p>
            <p class="rate"><i class="material-icons">star</i><span>{{movie.vote_average}}</span></p>
        </div>
        <p class="card-text">{{ movie.release_date }}</p>
        <ngb-rating [max]="5" [(rate)]="currentRating" readonly="true"></ngb-rating>
    </div>
</div>