<form [formGroup]="filterFormGroup">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="mr-3">
            <label>Trier par</label>
            <select class="form-control" formControlName="sortBy">
                <option *ngFor="let option of filterSortByOptions" [ngValue]="option">{{
                  option.label
                    }}</option>
            </select>
        </div>
        <div class="mr-3">
            <label>Genre</label>
            <select class="form-control" formControlName="genre">
                <option *ngFor="let option of filterGenreOptions" [ngValue]="option">{{
                  option.label
                    }}</option>
            </select>
        </div>
        <div>
            <label>Année</label>
            <select class="form-control" formControlName="year">
                <option *ngFor="let option of filterYearsOptions" [ngValue]="option">{{
                  option.label
                    }}</option>
            </select>
        </div>
    </div>
</form>