<div *ngIf="tvshow">
    <div
            class="header"
            [style.background-image]="
      'url(https://image.tmdb.org/t/p/w220_and_h330_face/' +
      tvshow.backdrop_path +
      ')'
    "
    >
        <div class="custom-background">
            <div style="padding: 0px" class="container d-flex">
                    <img class="cover-image"
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/{{tvshow.poster_path}}"
                            alt="{{ tvshow.name }}"
                            appImgFallback
                    />
                    <div class="d-flex flex-column tvshow-details">
                        <h1>{{ tvshow.name }} ({{ tvshow.first_air_date | date: "y" }})</h1>
                        <h3>
                            <span>De </span>
                            <span *ngFor="let user of tvshow.created_by; last as isLast">
                                <span *ngIf="isLast === false"> {{user.name}},</span>
                                <span *ngIf="isLast"> {{user.name}} </span>
                            </span>
                        </h3>
                        <h2> {{ tvshow.vote_average | number:'0.0-1' }} / 10
                            <h3> ({{ tvshow.vote_count }} votes) </h3>
                        </h2>
                        <h2>
                            <span *ngIf="tvshow.number_of_seasons <= 1"> {{ tvshow.number_of_seasons }} saison, disponible sur : </span>
                            <span *ngIf="tvshow.number_of_seasons > 1"> {{ tvshow.number_of_seasons }} saisons, disponibles sur : </span>
                            <br>
                            <div *ngFor="let network of tvshow.networks; last as isLast">
                                <span *ngIf="isLast === false">
                                    {{network.name}},&nbsp;
                                </span>
                                <span *ngIf="isLast">
                                    {{network.name}}
                                </span>
                            </div>
                        </h2>
                        <h2>
                            <span *ngIf="tvshow.genres.length <= 1"> Genre : </span>
                            <span *ngIf="tvshow.genres.length > 1"> Genres : </span>
                            <br>
                            <div *ngFor="let genre of tvshow.genres; last as isLast" class="genres">
                                <span *ngIf="isLast === false">
                                    {{genre.name}},&nbsp;
                                </span>
                                <span *ngIf="isLast">
                                    {{genre.name}}
                                </span>
                            </div>
                        </h2>
                    </div>
            </div>
            <div class="tvshow-details">
                <p> <span class="title">Overview</span> : {{ tvshow.overview }}</p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="cast-title">Casting :</h2>
        <div class="d-flex flew-row overflow-auto cast-slider">
            <div *ngFor="let actor of tvcredits?.cast" class="container d-flex flex-column actor-case" (click)="redirect(actor.id)">
                <img class="actor-image"
                     src="https://image.tmdb.org/t/p/w220_and_h330_face/{{ actor.profile_path }}"
                     alt="{{ actor.name }}"
                     appImgFallback
                />
                <span class="actor-details">{{ actor.name }}</span>
            </div>
        </div>
    </div>
</div>